html, body {
  height: 100vh;
}

body {
  margin: 0;
}

main {
  height: 100%;
  width: 100vw;
  background-image: url('../images/will.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: scroll;
}

.container {
  margin: 0;
  width: 100%;
}

h1 {
  font-family: 'Pathway Gothic One', sans-serif;
  color: #fff;
  font-weight: bold;
  margin: 0;
  margin-bottom: 15px;
  display: block;
  font-size: 3rem;
  text-shadow: 0px 0px 3px rgba(150, 150, 150, 0.75);
}

a {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 2rem;
  /*margin-right: 10px;*/
  border: 1px solid #fff;
  border-radius: 3px;
  color: #fff;
  padding: 4px 6px;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header {
  font-size: 124px;
}

/*portfolio*/

.portfolio {
  background-color: #7b7a7a;
}

.pfTitle {
  text-align: center;
}

.card {
  margin-bottom: 40px;
  border: 1px solid black;
}

.card-img-top {
  max-width: 100%;
}

.card-title {
  display: flex;
  justify-content: space-between;
}

.cardLink {
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.5rem;
  border: 1px solid #000;
  border-radius: 3px;
  color: #000;
  padding: 4px 12px;
}

/*info*/

.info {
  height: 100vh;
  background-color: #7b7a7a;
}

h5 {
  font-family: 'Pathway Gothic One', sans-serif;
  margin-bottom: 0;
  line-height: 2;
  font-size: 24px;
}

.fa {
  font-size: 24px;
  margin-right: 5px;
}

.contact {
  color: black;
}

.info-img {
  border: 3px solid white;
  margin: 20px auto;
  border-radius: 50%;
  width: 90%;
}

.info-title {
  margin: 1.25rem 0 0 1.25rem;
}
